<!-- your html code here -->
<div class="container row">
    <div class="col-8">
        <h1>The First Heading <span style="color: grey;">we Catch your eye</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint assumenda accusamus tenetur officiis
            neque, alias dicta fugit ab enim possimus minus laudantium, corporis praesentium illum aliquid nostrum?
            Quis, rerum.</p>
    </div>


    <div class="col-4">

        <img src="https://www.shutterstock.com/image-photo/app-icon-vectorstyle-image-breaking-600nw-2417689855.jpg"
            class="rounded-circle float-end " style="width: 300px; height: 300px;">
    </div>
</div>
</div>