<div>
    <div class="container py-4">

        <div class="d-flex justify-content-start ">
            <div>
                <h1>The First Heading <span style="color: grey;"> we Catch your eye</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint assumenda accusamus tenetur
                    officiis
                    neque, alias dicta fugit ab enim possimus minus laudantium, corporis praesentium illum aliquid
                    nostrum?
                    Quis, rerum.</p>

            </div>
            <img class="rounded-circle ms-3" src="./assets/img/1.jpg" alt="" width="300" height="300">
        </div>
    </div>
</div>