<div>

    <div class="container py-4">
        <div class="d-flex justify-content-start">
            <img class="rounded-circle ms-3" src="./assets/img/2.jpg" alt="" width="300" height="300">
            <div>
                <h1>The Second Heading<span style="color: grey;"> Is Pretty Cool too</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sint assumenda accusamus tenetur
                    officiis
                    neque, alias dicta fugit ab enim possimus minus laudantium, corporis praesentium illum aliquid
                    nostrum?. Alias dicta fugit ab enim  laudantium, corporis praesentium illum aliquid
                    nostrum.
                    Quis, rerum.</p>
            </div>
        </div>
    </div>
</div>